@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0 auto;
}

body {
    background: rgb(83,128,189);
    background: radial-gradient(circle, rgba(83,128,189,1) 0%, rgba(49,76,112,1) 100%);
}
/*MENU*/
/******/
.formulário {
    width: 50%;
    height: 28em;
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.1px 0.1px 15px 0.1px #00000088;
}

    .formulário h1 {
        margin-top: 3%;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #5380bd;
        font-size: 2em;
    }


    .formulário div {
        display: flex;
        margin-top: 5px;
    }

input {
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
}

.formulário div input {
    margin-top: 40px;
}

button {
    background-color: #000000;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 30%;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 35%;
}

hr {
    width: 60%;
    border: 1px solid #000000;
    color: black;
    margin-top: 5px;
}
