<link rel="stylesheet" href="~/css/index.css"/>

<section>
    <div class="lip"></div>
</section>

<section>
    <div class="imgP">
        <div class="txtImg">
            <h1>HealthierJob+</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Facilis quas quae expedita, laborum corporis rem? Assumenda alias
                iure nemo repudiandae ducimus! Nam pariatur quibusdam, aut asperiores commodi quas explicabo perferendis?
            </p>
        </div>
    </div>
</section>


<div class="boxM">
    <div class="txM">
        <h1>HealthierJob+</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequuntur neque culpa quos suscipit est autem vitae quam
            earum aut magnam, magni repudiandae. Aut provident labore assumenda?
            Labore odio dolor molestias.
        </p>
    </div>
    <div class="txM2">
        <h1>HealthierJob+</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequuntur neque culpa quos suscipit est autem vitae quam
            earum aut magnam, magni repudiandae. Aut provident labore assumenda?
            Labore odio dolor molestias.
        </p>
    </div>
    <div class="txM3">
        <h1>HealthierJob+</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequuntur neque culpa quos suscipit est autem vitae quam
            earum aut magnam, magni repudiandae. Aut provident labore assumenda?
            Labore odio dolor molestias.
        </p>
    </div>
</div>
